<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048183712788-fukn483im322n4tpg1lqu2cnvfvdag0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048183712788-fukn483im322n4tpg1lqu2cnvfvdag0a</string>
	<key>API_KEY</key>
	<string>AIzaSyAVV6QyG-D9DWQ_UF4a-tLRe-QaW8JYC6s</string>
	<key>GCM_SENDER_ID</key>
	<string>1048183712788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.musicapp1</string>
	<key>PROJECT_ID</key>
	<string>mubimba</string>
	<key>STORAGE_BUCKET</key>
	<string>mubimba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048183712788:ios:8bfda91bfd6775cec30b01</string>
</dict>
</plist>